<configuration>
    
    <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
          <pattern>%coloredLevel - %logger - %message%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="Sentry" class="com.getsentry.raven.logback.SentryAppender">
        <if condition='property("SENTRY_ENVIRONMENT").contains("development")'>
            <then>
                <dsn>https://2d2329fae9e14fcab9dddbcef02fb9b5:e52100f91cc64bb3ac9b64d16f489818@app.getsentry.com/77650?options</dsn>
            </then>
        </if>
        <if condition='property("SENTRY_ENVIRONMENT").contains("production")'>
            <then>
                <dsn>https://a7f1846cb34d451e817d8d3bef487973:2449e6d29f5f4d10b2635571a2895379@app.getsentry.com/77879?options</dsn>
            </then>
            <else>
                <dsn>https://5feca592cbd042f98d0038edebee8c6a:3f1d301f95bc46418f0ee076aa804f7d@app.getsentry.com/77868?options</dsn>
            </else>
        </if>
        <!-- only warning sent, info level is too noisy -->
        <!--<minLevel>INFO</minLevel>-->

        <!--<tags>tag1:centralapp-events</tags>-->
        <!-- Optional, allows to select the ravenFactory -->
        <!--<ravenFactory>com.getsentry.raven.DefaultRavenFactory</ravenFactory>-->
    </appender>

    <!--
    The logger name is typically the Java/Scala package name.
    This configures the log level to log at for a package and its children packages.
    -->
    <logger name="play" level="INFO" />
    <logger name="application" level="DEBUG" />

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="Sentry"/>
    </root>

</configuration>
