<configuration>
    
    <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
          <pattern>%coloredLevel - %logger - %message%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="Sentry" class="com.getsentry.raven.logback.SentryAppender">
        <if condition='property("SENTRY_ENVIRONMENT").contains("development")'>
            <then>
                <dsn>yoursentrydevdsn</dsn>
            </then>
        </if>
        <if condition='property("SENTRY_ENVIRONMENT").contains("production")'>
            <then>
                <dsn>yoursentryproddsn</dsn>
            </then>
            <else>
                <dsn>yourlocalsentrydsn</dsn>
            </else>
        </if>
        <!-- only warning sent, info level is too noisy -->
        <!--<minLevel>INFO</minLevel>-->

        <!--<tags>tag1:centralapp-events</tags>-->
        <!-- Optional, allows to select the ravenFactory -->
        <!--<ravenFactory>com.getsentry.raven.DefaultRavenFactory</ravenFactory>-->
    </appender>

    <!--
    The logger name is typically the Java/Scala package name.
    This configures the log level to log at for a package and its children packages.
    -->
    <logger name="play" level="INFO" />
    <logger name="application" level="DEBUG" />

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="Sentry"/>
    </root>

</configuration>
